@font-face {
    /* https://www.keshikan.net/fonts-e.html */
    font-family: 'DSEG7-Classic';
    src: url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2') format('woff2'),
    url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.woff') format('woff'),
    url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
h1,h2{
    text-align: center;
}
hr{
    border: none;
    border-top: 1px dashed #c0c0c0;
}
#buttons{
    background: #c0c0c0;
    color:black;
    text-align: center;
    width: 100%;
}
#buttons td{
    border:1px solid white;
    padding:1.25em 0;
}
#buttons td:hover{
    background: white;
    cursor: pointer;
}
#display{
    background-color:#fb7c00;
    display: block;
    font-family: DSEG7-Classic;
    font-size: 4em;
    padding:0.25em 0;
    text-align: left;
    min-height:1.1em;
    width: 100%;
}
/*http://tholman.com/github-corners/*/
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
	0%,100% {
		transform: rotate(0)
	}
	20%,60% {
		transform: rotate(-25deg)
	}
	40%,80% {
		transform: rotate(10deg)
	}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
/*botão toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media ( max-width : 1300px) {
    #display{
        font-size:2.5em;
    }
}
